.logo {
    font-family: 'Catamaran';
    font-size: 32px;
    font-weight: 700;
    height: 48px;
    color: #1f4b99;
    padding-right: 32px;
    /* background-image: url(./../../../static/logo.svg); */
    background-repeat: no-repeat;
    background-size: 135px 48px;
}

.logoContainer {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    display: flex;
}

@media screen and (max-width: 576px) {
    .logo {
        height: 48px;
        /* background-image: url(./../../../static/logo-small.svg); */
        background-repeat: no-repeat;
        background-size: 100px 48px;
        width: 48px;
    }
}
