.info {
    background-color: #205175;
    padding: 0 calc(50% - 650px);
}

.container {
    display: flex;
    justify-content: space-between;
    padding-top: 169px;
    padding-bottom: 113px;
}

.container a {
    background: linear-gradient(273.74deg,
            #ff4264 22.46%,
            rgba(225, 114, 134, 0.87) 100%);
    color: #ffffff;
    height: 83px;
    width: 372px;
    margin-top: 19px;
    border-radius: 3px;
    font-size: 20px;
    border: none;
    transition: 0.9s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about {
    background-color: #ffffff;
    padding: 0 calc(50% - 600px);
}

.time {
    display: flex;
    justify-content: space-between;
    padding-top: 116px;
    padding-bottom: 139px;
}

.text span {
    color: #000000;
    font-size: 30px;
    padding-bottom: 56px;
}

.footer {
    background-color: #205175;
    padding: 0 calc(50% - 650px);
}

.footerInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 49px;
}

.footerInfo div {
    color: white;
}

.footerInfo span {
    font-size: 25px;
    color: #ffffff;
    text-align: justify;
}