.card {
    text-align: center;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px 0px;
}
.card img {
    width: 165px;
    height: 168px;
    border: 1px solid rgba(32, 81, 117, 0.74);
    box-sizing: border-box;
    border-radius: 80px;
}
.infoBox p {
    text-align: center;
    font-size: 18px;
    color: #000000;
    margin: 25px 0px;
}
